<mat-card style="padding: 16px">
  <section class="mat-elevation-z8 column-flex">

    <mat-toolbar color="secondary" style="display: flex; justify-content:space-between">
      <h1>Available courses</h1>
    </mat-toolbar>

    <app-courses-list
      (addCourse)="onAdd()"
      (editCourse)="onEdit($event)"
      *ngIf="courses$ | async as courses; else loading"
      [courses]="courses"
    >
    </app-courses-list>

    <ng-template #loading>
      <section class="loading-spinner">
        <mat-spinner></mat-spinner>
      </section>
    </ng-template>
  </section>
</mat-card>
