<mat-card style="padding: 16px">
  <section class="mat-elevation-z8 column-flex" *ngIf="courses$ | async as courses; else loading">

    <mat-toolbar color="secondary" style="display: flex; justify-content:space-between">
      <h1>Available courses</h1>
    </mat-toolbar>

    <app-courses-list
      (addCourse)="onAdd()"
      (editCourse)="onEdit($event)"
      (removeCourse)="onRemove($event)"
      [courses]="courses.courses"
    >
    </app-courses-list>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
      aria-label="Select page of courses"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [length]="courses.totalElements"
      (page)="refresh($event)"
    >
    </mat-paginator>

  </section>

  <ng-template #loading>
    <section class="loading-spinner">
      <mat-spinner></mat-spinner>
    </section>
  </ng-template>
</mat-card>
